<html>
    <head>
        <title>New Message</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1><% title %></h1>
        <form method="POST" action="/new" class="new-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="message">Message</label>
            <textarea name="message" id="message" placeholder="Enter you message here"></textarea>
            <button type="submit">Submit</button>
         </form>         
    </body>
</html>