<html>
    <head>
        <title>Message</title>
    </head>
    <body>
        <h1><%= user %></h1> <small><%= added.getDate() + '-' + added.getMonth() +'-'+ added.getYear() %></small>
        <p><%= text %></p>
        <a href="/">Go back</a>
    </body>
</html>